# Python
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/

# Airflow / AWS CLI
airflow/aws/
airflow/awscliv2.zip
airflow/tmp/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars

# Data outputs
*.csv

# IDE
.vscode/

# AWS CLI installer (accidentally installed inside project folder)
airflow/aws/
airflow/awscliv2.zip

# Leftover tmp file
airflow/tmp/

Hackstories-API-Pipeline/airflow/aws/
Hackstories-API-Pipeline/airflow/logs/
Hackstories-API-Pipeline/airflow/plugins/
Hackstories-API-Pipeline/airflow/tmp/
Hackstories-API-Pipeline/airflow/*.zip/
Hackstories-API-Pipeline/airflow/aws/


.env
*.env
configuration.conf

# Ignore archive files
*.zip
*.tar.gz
Hackstories-API-Pipeline\airflow\data_staging\

pyproject.toml
uv.lock
.venv/

Hackstories-API-Pipeline/hackstories_dbt/pyproject.toml
Hackstories-API-Pipeline/hackstories_dbt/uv.lock

data_staging/
hackstories_dbt/profiles.yml
hackstories_dbt/target/
hackstories_dbt/dbt_packages/
__pycache__/
*.pyc
.venv/
logs/